<h1>Todo List</h1>

<div id="todolist">
<h2>Tasks:</h2>

  <ol>
    <li v-for="task in tasks" v-on:click="removeTask(task)">{{ task }}</li>
  </ol>

<input type="text" v-model="newTask">
<button v-on:click="addTask()">Add New Task</button>

</div>